// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

body {
  font-family: 'Raleway', sans-serif;
}

.hyperlink {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  padding-left: 2rem;
}

.poster {
  &__backdrop {
    background-color: rgba(0,0,0,0.5);
    height: 40%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__headline {
    position: relative;
    z-index: 100;
  }
}